<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/common.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="./css/index.css" type="text/css" media="screen" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
	<script src="/angular/js/lib/angular-locale_ja-jp.js"></script>
	<title>poteland | angularJS i18n</title>
</head>
<body>
<header ng-include src="'../header.html'"></header>


<div class="contents-wrapper">
	<h1>AngularJS i18n</h1>
	<form method="post" name="sampleForm" ng-controller="InitData">
		<p class="label"><label>date filter format</label></p>
		<input type="date" ng-model="today" />
		<p>'medium' : {{today | date:['medium'] }}</p>
		<p>'short' : {{today | date:['short'] }}</p>
		<p>'fullDate' : {{today | date:['fullDate'] }}</p>
		<p>'longDate' : {{today | date:['longDate'] }}</p>
		<p>'mediumDate' : {{today | date:['mediumDate'] }}</p>
		<p>'shortDate' : {{today | date:['shortDate'] }}</p>
		<p>'mediumTime' : {{today | date:['mediumTime'] }}</p>
		<p>'shortTime' : {{today | date:['shortTime'] }}</p>
		<p>'custom' : {{today | date:['yyyy年M月d日 (EEE)'] }}</p>
		
		<p class="label"><label>currency filter format</label></p>
		<input type="integer" ng-model="amount" ng-init="amount=1000" />
		<p>{{ amount | currency}}</p>
	</form>
</div>


<script type="text/javascript">
	var InitData = function($scope){
		$scope.today = new Date();
	}
</script>

</body>
</html>

