form{
	margin: 12px 0;
	padding: 16px;
	border: solid 1px #ccc;
	border-radius: 4px;
}

dt{
	padding: 8px 0;
}

dd{
	margin-bottom: 16px;
	padding: 4px 0;
}

p{
	margin: 4px 0;
}

p.label{
	padding: 4px;
	background-color: #666;
	color: #fff;
}

input[type=text],input[type=password],
input[type=mail],input[type=url],
input[type=number],input[type=integer],
input[type=date],textarea{
	width: 250px;
}

.comment{
	font-size: small;
}

.valid{
	color: #0c0;
	font-size: small;
}

.error{
	color: #f00;
	font-size: small;
}
